body {
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
}

input {
    width: 40px;
}

canvas {
    border: 1px solid black;
    background-color: #242424;
    display: block;
    margin: 0 auto;
}